h1 {
  font-size: var(--arc-font-display1-font-size);
  font-weight: var(--arc-font-display1-font-weight);
  letter-spacing: var(--arc-font-display1-letter-spacing);
  line-height: var(--arc-font-display1-line-height);
}

.title-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  width: 128px;
  height: 128px;
  display: block;
}

.app-title {
  margin-left: 24px;
}

.version-meta {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 18px;
  color: var(--about-arc-version-label-color, rgba(0, 0, 0, 0.74));
}

.version {
  margin-right: 12px;
  display: inline-block;
  padding-right: 12px;
  border-right: 1px var(--about-arc-version-section-border-right-color, rgba(0, 0, 0, 0.14)) solid;
}

.version-meta a {
  color: inherit;
  text-decoration: inherit;
}

.version-meta a:hover {
  text-decoration: underline;
}

.open-external-icon {
  width: 16px;
  height: 16px;
}

.updates-section {
  width: 100%;
  max-width: 700px;
  margin: 40px auto;
  background-color: var(--about-arc-updates-section-background-color, #fff);
  padding: 24px;
  border: 1px var(--about-arc-updates-section-border-color, #e5e5e5) solid;
}

.update-status {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.update-message {
  flex: 1;
}

.heart {
  color: var(--about-arc-updated-heart-color, #FF5722);
  margin-left: 8px;
}

.update-settings {
  margin: 24px auto;
}

.author-line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
}

.powered {
  display: block;
  width: 180px;
  height: 39px;
}

.error-code {
  max-width: 360px;
  margin: 20px auto;
  background-color: var(--about-arc-error-code-background-color, #EF9A9A);
  padding: 20px;
  user-select: text;
}

.release-channel {
  margin-top: 40px;
}

.channel-selector {
  width: 100%;
  margin: 0;
}
