main > .screen {
  flex: 1;
  height: 100vh;
  overflow: hidden;
  margin: 12px 20px;
}

.environment-selector {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1.2rem;
}

.env-dropdown {
  transform: rotate(90deg);
  margin-left: 8px;
}

variables-overlay {
  color: initial;
}

#passwordPrompt {
  min-width: 460px;
}

#passwordPrompt anypoint-masked-input {
  width: auto;
}
