body,
html {
  height: 100%;
  font-family: 'Roboto', 'Noto', sans-serif;
  font-size: 16px;
  user-select: none;
  margin: 0;
  padding: 0;
  background-color: var(--search-bar-background-color, #fff);
  overflow: hidden;
}

#app {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  z-index: 100;

  --anypoint-input-border-color: transparent;

  /* border: 1px #e5e5e5 solid;
  border-radius: 0 0 6px 6px;
  box-shadow: var(--anypoint-dropdown-shadow); */
}

.counters {
  color: var(--search-bar-counters-color, #9E9E9E);
  font-size: 14px;
}

.controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 8px;
  padding-left: 8px;
}

anypoint-icon-button {
  color: var(--search-bar-action-button-color, #616161);
  width: 36px;
  height: 36px;
}

anypoint-input {
  flex: 1;
  width: auto;
  margin: 0;
}

.close-icon {
  width: 20px;
  height: 20px;
}
