body {
  background-color: #212121;
  color: #fff;
  --primary-color: #ffcc80;
  --primary-text-color: #fff;
  --accent-color: #E040FB;
  --secondary-text-color: rgba(255, 255, 255, 0.84);
  --primary-background-color: #212121;
  
  --secondary-action-button-color: #fff;
  --action-button-background-color: #212121;
  --action-button-color: #fff;
  --action-button-hover-background-color: #212121;
  --action-button-hover-color: #04b3f5;

  --error-message-icon-color: rgba(255, 255, 255, 0.64);
  --error-message-color: #fff;
  --error-message-code-color: #9e9e9e;

  --saved-request-detail-background-color: #212121;
  --saved-request-detail-color: #fff;
  --saved-request-detail-padding: 20px;
  --saved-request-detail-data-list-color: #fff;
  --saved-request-detail-action-button-color: #fff;
  --saved-request-detail-action-icon-color: #fff;

  --anypoint-chip-label-color: #fff;
  --anypoint-chip-icon-color: #fff;
  --anypoint-chip-label-focused-color: #fff;
  --anypoint-chip-label-active-color: #fff;
  --anypoint-chip-focused-background-color: #34434b;
  --anypoint-chip-background-color: #424242;

  --arc-interactive-demo-options-color: #F5F5F5;

  --anypoint-checkbox-label-color:  #F5F5F5;
  --anypoint-input-background-color: #494949;
  --anypoint-input-label-color: #fff;
  --anypoint-input-input-color: #fff;
  --anypoint-input-border-bottom-color: #fff;
  --anypoint-input-focused-border-bottom-color: #fff;
  --anypoint-input-label-background-color: rgb(66, 66, 66);
  --anypoint-input-legacy-focus-background-color: #3a3b3c;
  --anypoint-input-legacy-focus-border-color: #178bea;
  --anypoint-input-info-message-color: #fff;

  --anypoint-menu-button-border-radius: 12px;
  
  --anypoint-dropdown-menu-background-color: #494949;
  --anypoint-dropdown-menu-label-background-color: var(--primary-background-color);
  --anypoint-listbox-background-color: #494949;
  --anypoint-dropdown-menu-focus-background-color: #616161;
  --anypoint-dropdown-menu-label-color: #fff;
  --anypoint-dropdown-menu-info-message-color: #fff;
  --anypoint-item-hover-background-color: #616161;
  --anypoint-item-focused-background-color: #212121;
  --anypoint-autocomplete-background-color: #494949;
  --anypoint-icon-button-emphasis-low-color: #c5c5c5;
  --anypoint-item-before-background: transparent;

  --anypoint-button-emphasis-low-hover-background-color: #616161;
  --anypoint-button-emphasis-low-focus-background-color: var(--anypoint-button-emphasis-low-hover-background-color);
  --anypoint-button-emphasis-low-focus-color: var(--primary-color);

  --code-mirror-background-color: #1e1e1e;
  --code-mirror-gutters-background-color: #1e1e1e;
  --code-mirror-string-color: #C3E88D;
  --code-mirror-punctuation-color: #EEFFFF;
  --code-mirror-atom-color: #F07178;
  --code-mirror-number-color: #F78C6A;
  --code-mirror-cursor-color: #009688;
  --code-mirror-tag-color: #ffffff;
  --code-mirror-tag-color: #b4b4b4;
  --code-mirror-gutters-border-right-color: #757575;

  --code-operator-value-background-color: transparent;
  --code-background-color: #212121;
  --code-color: #fff;
  --code-type-number-value-color: #eb67b0;
  --code-property-value-color: #b0e6ff;
  --code-type-text-value-color: #ffb89b;
  --code-type-boolean-value-color: #72baff;
  --code-type-number-value-color: #b5cea8;
  --code-token-comment-value-color: #91afcd;
  --code-keyword-value-color: #63d0ff;

  --http-code-snippet-code-text-shadow: #fff;
  --http-code-snippet-container-background-color: var(--code-background-color);
  --http-code-snippet-code-function-color: #82AAFF;
  --http-code-snippet-code-keyword-color: #C792EA;
  --http-code-snippet-code-cdata-color: #adb9c5;

  --authorization-method-oauth2-redirect-info-color: var(--secondary-text-color);
  --auth-method-certificate-second-line-color: var(--secondary-text-color);
  
  --request-editor-url-area-background-color: #424242;
  --request-editor-url-input-background-color: #212121;
  --progress-info-background-color: #404040;
  --progress-info-color: #fff;

  --arc-request-workspace-tabs-close-color: #9e9e9e;
  --workspace-tabs-add-color: #fff;

  --arc-actions-tutorial-content-color: var(--secondary-text-color);
  --action-editor-opened-border-color: #616161;
  --action-editor-opened-title-background-color: transparent;
  --action-editor-opened-title-color: #fff;
  --action-condition-closed-background-color: transparent;
  --action-editor-opened-title-border-bottom-color: #616161;
  --action-condition-wrapper-border-bottom-color: #616161;
  --action-condition-closed-border-bottom-color: #616161;

  --requests-list-history-group-header-background-color: #424242;
  --requests-list-item-history-group-header-color: #fff;

  --request-panel-resizer-active-background-color: #424242;

  /* Response view styles */
  --response-empty-panel-background-color: #212121;
  --error-message-icon-color: rgba(255, 255, 255, 0.64);
  --error-message-color: #fff;
  --error-message-code-color: #9e9e9e;
  --response-status-view-request-url-background-color: #424242;
  --response-tabs-border-color: #757575;
  --response-tab-close-hover-background-color: #424242;
  --response-code-line-numbers-border-color: #757575;
  --response-code-line-numbers-color: #999;
  --response-code-toggle-line-border-color: #757575;

  /* Timings view styles */
  --request-timings-total-border-color: #757575;
  --request-timings-progress-background: #424242;
  --request-timings-progress-color: #c6f68d;

  /* App toolbar */
  --arc-toolbar-background: #424242;

  /* ARC menu */
  --arc-rail-menu-icon-color: #757575;
  --arc-rail-menu-icon-selected-color: #fff;
  --arc-menu-title-background-color: #424242;
  --arc-menu-title-color: #fff;
  --requests-list-history-group-header-background-color: #424242;
  --requests-list-item-history-group-header-color: rgba(255, 255, 255, 0.74);

  /* HTTP method colors */
  --http-get-color: #c6f68d;
  --http-post-color: #b39afd;
  --http-put-color: #ffc77d;
  --http-patch-color: #f186c0;
  --http-delete-color: #FF5252;
  --http-options-color: rgba(128, 128, 128, 0.74);
  --http-head-color: rgba(128, 128, 128, 0.74);
  --http-connect-color: rgba(128, 128, 128, 0.74);
  --http-trace-color: rgba(128, 128, 128, 0.74);
  --http-method-label-get-background-color: var(--http-get-color);
  --http-method-label-get-color: #000;
  --http-method-label-post-background-color: var(--http-post-color);
  --http-method-label-post-color: #000;
  --http-method-label-put-background-color: var(--http-put-color);
  --http-method-label-put-color: #000;
  --http-method-label-delete-background-color: var(--http-delete-color);
  --http-method-label-delete-color: #000;
  --http-method-label-options-background-color: var(--http-options-color);
  --http-method-label-options-background-color: #fff;
  --http-method-label-head-background-color: var(--http-head-color);
  --http-method-label-head-color: #fff;
  --http-method-label-patch-background-color: var(--http-patch-color);
  --http-method-label-patch-color: #000;

  /* Status code colors */
  --arc-status-code-color-200: #c6f68d;
  --arc-status-code-color-300: #b39afd;
  --arc-status-code-color-400: #ffc77d;
  --arc-status-code-color-500: #FF5252;
  --response-status-code-color: #000;

  /* Web session URL */
  --web-url-input-background-color: #212121;

  /* shadows */
  --box-shadow-6dp: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

  /* Dialogs */
  --anypoint-dialog-title-color: #fff;
  --anypoint-dialog-content-color: #fff;

  /* Bottom sheets */
  --bottom-sheet-background-color: #424242;
  --bottom-sheet-color: #fff;

  /* Cookies manager */
  --cookie-details-meta-color: #fff;

  /* Client certificates */
  --certificate-details-data-list-color: #fff;
}
