body {
  color: #000;
  --primary-color: #00a2df;
  --accent-color: #2196f3;
  --error-color: red;
  --primary-text-color: #000;
  --primary-background-color: #ffffff;
  --code-mirror-height: 300px;
  --code-mirror-background-color: #f5f5f5;
  --anypoint-dropdown-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
  --anypoint-autocomplete-dropdown-shadow: var(--anypoint-dropdown-shadow);

  --request-editor-url-area-background-color: #e4e4e4;
  --url-input-editor-border-color: #e5e5ee;
  
  --action-button-background-color: var(--primary-color);
  --action-button-background-image: none;
  --action-button-color: #fff;
  --action-button-transition: background-color 300ms linear;
  --action-button-hover-background-color: #04b3f5;
  --action-button-hover-color: #fff;
  --action-button-disabled-background-color: #eaeaea;
  --action-button-disabled-color: #a8a8a8;

  --action-editor-opened-border-color: #2196f3;
  --action-editor-opened-title-background-color: #0d47a1;
  --action-editor-opened-title-color: #fff;

  /* Toolbars */
  --arc-menu-title-background-color: #0073ad;
  --arc-menu-title-color: #fff;
  --arc-toolbar-background: #0073ad;
  --arc-toolbar-color: #fff;

  /* Main navigation menu */
  --arc-rail-menu-icon-color: #de1643;
  --arc-menu-title-background-color: #0073ad;
  --arc-menu-title-color: #fff;

  /* List items */
  /* --anypoint-item-before-background: #fff; */

  /* Dividers */
  --dark-divider-opacity: 0.14;

  /* shadows */
  --box-shadow-6dp: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

  /* HTTP method colors */
  --http-get-color: rgba(0, 128, 0, 0.74);
  --http-post-color: rgba(33, 150, 243, 0.74);
  --http-put-color: rgba(255, 165, 0, 0.74);
  --http-patch-color: rgb(156, 39, 176);
  --http-delete-color: rgba(244, 67, 54, 0.74);
  --http-options-color: rgba(128, 128, 128, 0.74);
  --http-head-color: rgba(128, 128, 128, 0.74);
  --http-connect-color: rgba(128, 128, 128, 0.74);
  --http-trace-color: rgba(128, 128, 128, 0.74);
  --http-method-label-get-background-color: var(--http-get-color);
  --http-method-label-get-color: #fff;
  --http-method-label-post-background-color: var(--http-post-color);
  --http-method-label-post-color: #fff;
  --http-method-label-patch-background-color: var(--http-patch-color);
  --http-method-label-patch-color: #fff;
  --http-method-label-put-background-color: var(--http-put-color);
  --http-method-label-put-color: #fff;
  --http-method-label-delete-background-color: var(--http-delete-color);
  --http-method-label-delete-color: #fff;
  --http-method-label-options-background-color: var(--http-options-color);
  --http-method-label-options-background-color: #fff;
  --http-method-label-head-background-color: var(--http-head-color);
  --http-method-label-head-background-color: #fff;
  --http-method-label-trace-background-color: var(--http-trace-color);
  --http-method-label-trace-background-color: #fff;
  --http-method-label-connect-background-color: var(--http-connect-color);
  --http-method-label-connect-background-color: #fff;
}
